.table-container {
    width: 98%;
    max-width: 100%;
    overflow: auto;
    margin: 20px auto
  }
  
  table {
    width: 800px;
  }
  
  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
  }
  
  th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
  }
  
  .mat-mdc-table-sticky-border-elem-right {
    border-left: 1px solid #e0e0e0;
  }


  .mat-mdc-table-sticky-border-elem-left {
    border-right: 1px solid #e0e0e0;
  }

  .activity-cell, .mat-mdc-table-sticky-border-elem-left {
    min-width: 150px;
  }

  .border-cell-style{
    border-right: 1px solid #fb8c00;
  }

  .bg-accent{
    background-color: #fb8c00;;
  }

  .text-center{
    text-align: center;
  }

  .delete-cell{
    text-align: center;
    cursor: pointer;
    padding:0;
  }


  //smaller version
    @media screen and (max-width: 885px) {
      .table-container {
        width: 100%;
      }
      
    }

  