<mat-sidenav-container fullscreen>

    <!-- sidenav -->
    <mat-sidenav #sidenav mode="push">
      <mat-toolbar color="primary">
        <img width="120px" src="../../../../assets/images/steelwhite.png" alt="logo gimnasio">
        <span class="spacer"></span>
          <button mat-icon-button
          (click)="sidenav.toggle()">
          <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar>
      <!-- form -->
      <app-form></app-form>
    </mat-sidenav>
  
      <!-- contenido -->
      <mat-toolbar color="primary">
        <button mat-icon-button class="arrow-icon"
                (click)="sidenav.toggle()">
          <mat-icon>
            arrow_back_ios
          </mat-icon>
        </button>
        <p class="costumers-text">Add costumers</p>
        <span class="spacer"></span>
        <img width="120px" src="../../../../assets/images/steelwhite.png" alt="logo gimnasio">
      </mat-toolbar>
      <div class="table-content">
        <app-users-table></app-users-table>
      </div>

  </mat-sidenav-container>
