<mat-sidenav-container fullscreen>

    <!-- sidenav -->
    <mat-sidenav #sidenav mode="push">
      <mat-toolbar color="primary">
        <img width="120px" src="../../../../assets/images/steel-logo.png" alt="logo gimnasio">
        <span class="spacer"></span>
          <button mat-icon-button
          (click)="sidenav.toggle()">
          <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar>
      <!-- form -->
      <app-form></app-form>
    </mat-sidenav>
  
      <!-- contenido -->
      <mat-toolbar color="primary">
        <button mat-icon-button
                (click)="sidenav.toggle()">
          <mat-icon>
            arrow_back_ios
          </mat-icon>
        </button>
      </mat-toolbar>
      <div class="table-content">

        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, commodi quibusdam velit deleniti facilis illum odio doloremque explicabo enim suscipit molestiae natus? Maxime ad laudantium repellendus rerum? Consectetur, sit harum?
      </div>

  </mat-sidenav-container>
